body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #2d3c49;
}

h1, h2, h3, h4, h5 {
  color: #7d97ad;
  font-weight: 300;
  margin: 0;
}

header, main, footer, section, div{
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

/*
 *
 * Header
 * 
 */

 .header {
  min-height: 56px;
  transition: min-height 0.3s;
  margin: 3rem 2rem 0 2rem;
}

.header__logo {
  height: 72px;
  margin: 1rem 1rem;
  vertical-align: top;
}

.header__title {
  float: right;
  margin: 0.75rem 0.75rem;
}

.name {
  font-size: 2.5em;
  font-weight: 300;
  letter-spacing: 2px;
}

.profession {
  font-weight: 400;
  padding-left: 48%;
  margin-bottom: 0.25px;
}

hr {
  width:100%;
  border: 0;
  height: 3px;
  background: #7d97ad;
  background-image: linear-gradient(to right, #2d3c49, #7d97ad);
}

/*
 *
 * Main
 * 
 */

 main {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

/*
 *
 * Content
 * 
 */

.image {
  width: 100%;
  margin: 2rem;
}

.main__image > img {
  width: 100%;
}

.main__image {
  width: 100%;
}

 /*
 *
 * Work
 * 
 */

 .work {
  width: 100%;
  margin: 0rem 2rem 2rem 2rem;
}

.featured__work {
  width: 100%;
  margin-bottom: 1rem;
  float: left;
  font-size: 2.5em;
}

.work__list {
  flex-grow: 1;
  clear: both;
  width: 100%;
  margin: 0;
}

.app__list {
  display: flex;
  text-align: center;
}

.app {
  clear: both;
  width: 33.3333%;
  margin-right: 1rem;
}

.app__name {
  margin: 0;
  font-weight: 400;
  font-size: 2em;
}

.app__thumbnail > img {
  width: 100%;
}

.app__list li.app:last-child {
  margin-right: 0;
}

.app a {
  color:#2d3c49;
  text-decoration: none;
  display: inline-block;
  width: 100%
}

 /*
 *
 * Footer
 * 
 */

footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-top: 1px solid #E0E0E0;
  padding: 2rem;
}

footer p {
  margin: 0;
  font-size: 1.5em;
}

.email {
  margin-top: 2rem;
}

footer a {
  text-decoration: none;
  color: #7d97ad;
  border: 2px solid #7d97ad;
  padding: 10px;
}

.arrow {
  vertical-align: -0.3rem;
}